# Install direnv https://direnv.net/docs/installation.html
# Add file to whitelist at $HOME/.config/direnv/direnv.toml:
# [whitelist]
# exact = [ '/path/to/.envrc' ]
export CLOUDFLARE_API_TOKEN=$(bw get password cloudflare_terraform_token)
export TF_VAR_cloudflare_account_id=$(bw get password 'cloudflare account id')
export TF_VAR_r2_access_key=$(bw get username 'stvorlistok.best - R2 API token')
export TF_VAR_r2_secret_key=$(bw get password 'stvorlistok.best - R2 API token')

